*{
  box-sizing: border-box;
}
  
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.bloc {
    display: flex;
    box-shadow:0 0 20px 0 rgba(72,94,116,0.7);
    
}

.info {
    background:#c9e6ff;
    flex:1;
    padding:2em;
   
   
}

.contact{
    background:#f9feff;
    flex:2 !important;
    padding:2em;
   
    
}

body{
    background:#92bde7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
}

span{
    color: white;
}

.contact form{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:20px;
}

.full {
    width:100%;
}